[submodule "modules/dccomms_examples"]
	path = modules/dccomms_examples
	url = https://github.com/dcentelles/dccomms_examples.git
[submodule "modules/umci"]
	path = modules/umci
	url = https://github.com/dcentelles/umci.git
[submodule "modules/ardupilot"]
	path = modules/ardupilot
	url = https://github.com/dcentelles/ardupilot.git
